In [19]:
# Using pandas and numpy
import pandas as pd
import numpy as np

In [20]:
# Grabbing the data from the Pricenomics csv
df = pd.read_csv("Data+for+TreefortBnB+Puzzle.csv")

In [21]:
# Dropping the unneccesary columns for calculating the median
df.drop(["# of Reviews", "Unique id"],1,inplace=True)

In [22]:
# Correcting and standardizing capitalization for names of cities
df.City = map(str.title, df.City)

In [23]:
# Taking a look at the data
df.head()

          City State  $ Price
0     Portland    OR       75
1    San Diego    CA       95
2     New York    NY      149
3  Los Angeles    CA      199
4       Denver    CO       56

In [24]:
# Pivot to set row index as "City" and "State" pairs, so that cities in different states
# don't get confused for being the same thing.

# Also, aggregating price for each "City" and "State" pair by median and count (frequency of City & State pair in data)
pivotDF = pd.pivot_table(df, index=["City","State"],values=['$ Price'],aggfunc=[np.median,(lambda arr: arr.count())])

In [25]:
# Checking out the data, looks good, though column named <labmda> could be more descriptive
pivotDF.head()

                   median <lambda>
                  $ Price  $ Price
City        State
Albuquerque NM       75.0       95
Alexandria  VA      104.5       66
Anchorage   AK      123.5       50
Ann Arbor   MI       98.0       63
Arlington   VA      106.5      214

In [26]:
# Renamed '<lambdad>' as 'count'
pivotDF.rename(columns={'<lambda>':'count'},inplace=True)

In [27]:
# Looking at the column data to figure out how to issue commands to sort by median
pivotDF.columns

MultiIndex(levels=[[u'count', u'median'], [u'$ Price']],
           labels=[[1, 0], [0, 0]])

In [28]:
# Sorting by median, and then sorting within that sort by frequency of the city state pair in the data set
pivotDF.sort_values([('median','$ Price'),('count','$ Price')],ascending=False, inplace=True)

In [29]:
# Taking a look at the results
print(pivotDF.head(100).to_string())

                         median   count
                        $ Price $ Price
City              State
Indianapolis      IN      650.0     251
Madison           CT      450.0       1
Paris             TX      439.0       1
Carmel            CA      350.0      31
Malibu            CA      304.0      92
Park City         UT      299.0     229
Truckee           NV      275.0      67
Healdsburg        CA      275.0      49
Laguna Beach      CA      268.5      68
Incline Village   NV      259.0     118
Brookline         NH      250.0       2
Manhattan Beach   CA      209.0      55
Hollywood         CA      205.0       8
Charlotte         NC      200.0     225
Sonoma            CA      200.0     115
Napa              CA      200.0      68
Long Beach        NY      200.0       3
Austin            TX      199.0    2836
La Jolla          CA      195.0      53
Sausalito         CA      190.0      71
Hermosa Beach     CA      189.5      48
Sunny Isles Beach FL      180.0     161
Carmel            IN      171.5      16
New York          NY      170.0    8044
Boston            MA      160.0     613
Newport Beach     CA      160.0      84
Beverly Hills     CA      160.0      74
Venice            CA      155.0     242
Davenport         CA      155.0       6
San Francisco     CA      150.0    3622
Miami Beach       FL      150.0    1345
New Orleans       LA      150.0     833
Miami             FL      150.0     641
Santa Monica      CA      150.0     500
Marina Del Rey    CA      150.0     115
Louisville        KY      150.0      86
Mill Valley       CA      150.0      80
Taos              NM      148.5      52
Sebastopol        CA      145.0      49
Oakland           MD      145.0       1
San Diego         CA      130.0     986
Washington        DC      129.0    1402
West Hollywood    CA      129.0     229
Scottsdale        AZ      129.0     121
Cambridge         MA      125.0     300
Las Vegas         NV      125.0     291
Santa Cruz        CA      125.0     127
Charleston        SC      125.0      84
San Rafael        CA      125.0      61
Naples            FL      125.0      50
Durham            CA      125.0       1
Long Beach        NJ      125.0       1
Anchorage         AK      123.5      50
Palo Alto         CA      120.0     100
Santa Rosa        CA      120.0      71
Brookline         MA      120.0      47
Hollywood         FL      115.5     150
Davenport         FL      113.0     108
Mountain View     CA      113.0      72
Colorado Springs  CO      113.0      54
Brooklyn          NY      110.0    4368
Los Angeles       CA      110.0    3236
Kissimmee         FL      110.0     266
Savannah          GA      107.0      91
Arlington         VA      106.5     214
Paris             RI      105.5      48
Honolulu          HI      105.0     363
Alexandria        VA      104.5      66
Chicago           IL      100.0    1255
Seattle           WA      100.0     824
Philadelphia      PA      100.0     457
Berkeley          CA      100.0     328
Boulder           CO      100.0     265
Houston           TX      100.0     175
Fort Lauderdale   FL      100.0     151
Long Beach        CA      100.0     113
San Jose          CA      100.0     104
Somerville        MA      100.0      99
Tampa             FL      100.0      78
Carlsbad          CA      100.0      54
Phoenix           MD      100.0       1
Pasadena          CA       99.5      86
Queens            NY       99.0     457
Minneapolis       MN       98.0     138
Ann Arbor         MI       98.0      63
Long Island City  NY       96.0     191
Richmond          IL       95.0       1
Oakland           CA       90.0     434
Tucson            AZ       90.0     195
Glendale          CA       90.0      70
Salt Lake City    UT       89.5     140
Atlanta           GA       89.0     302
Dallas            TX       87.0     114
Denver            CO       86.0     283
Phoenix           AZ       85.0     167
Jersey City       NJ       85.0      82
Eugene            OR       85.0      78
Providence        RI       85.0      72
Madison           WI       85.0      59
Richmond          CA       82.5      24

In [30]:
# Looks good, lets get it ready for export.
# Prompt wants just the top 100 highest median priced Trees - taking that slice of data and saving it as a DataFrame
top100df = pivotDF[0:100]

In [31]:
# Writing this dataframe to a file for distribution.
top100df.to_csv("TreeNB.csv")